@font-face {
    font-family: 'Editorial';
    src: url(fonts/Editorial-New.woff);
}

body {
    font-family: 'Editorial';
    background-color: #110A0A;
}

h1 {
    font-size: 200px;
    letter-spacing: -10px;
}